@import '../../styles/global'
.slider-wrapper 
  height: 400px
  .swiper-wrapper
    column-gap: 13px
    .swiper-slide 
      align-items: flex-end
      margin-right: 0 !important
      .image
        width: 187px
        height: 214px
        transition: all .5s ease
    .swiper-slide-active 
      .image
        width: 300px
        height: 350px
        border-bottom: 4px solid map-get($main, 'primary')
.slider-images
  display: grid
